* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-span-color: #0C8C5E;
    --accent-color: #f4f6f8;
    --text-h-color: #000000;
    --text-p-color: #000000b0;
}

body {
    height: 100vh;
    background-image: url(images/bg-light.svg);
    background-size: 110%;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Inter', sans-serif;
}

/* Header code is here */
.navbar {
    padding: 21px 30px 20px 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-items {
    margin-top: 2.3px;
    margin-right: -74px;
    font-weight: 600;
    font-size: 15px;
}

.nav-img img {
    width: 104px;
}

.nav-items a,
.nav-cta a {
    text-decoration: none;
    color: var(--accent-color);
}

.nav-items a {
    padding: 6px 12px;
}

.nav-items a:hover {
    background-color: #ffffff11;
    border-radius: 20px;
}

.nav-cta {
    margin-right: 40px;
    margin-left: -46px;
}

.nav-cta a {
    padding: 7px 13px;
    background-color: #ffffff11;
    border-radius: 20px;
    font-weight: 500;
    font-size: 15px;
}

.nav-cta .cta-white {
    margin-left: 3px;
    color: rgba(0, 0, 0, 0.904);
    background-color: var(--accent-color);
}

.cta-white:hover {
    background-color: #f4f6f8be;
}

/* Header Session Code End Here */

/* Main Section code is here */

.main-top-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.new-agent-item {
    margin-top: 27px;
    padding: 3px 6px 4px 4px;
    background-color: #00000038;
    border-radius: 20px;
}

.new-agent-item a {
    font-size: 14px;
    color: var(--accent-color);
    text-decoration: none;
    font-weight: 500;
}

.new-agent-item a button {
    background-color: var(--text-span-color);
    border: transparent;
    padding: 4px 8.5px;
    margin-right: 5px;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 600;
    color: var(--accent-color);
}

.main-top-container div h1 {
    color: var(--accent-color);
    font-size: 53px;
    font-weight: 600;
    width: 550px;
    margin-top: 12px;
    letter-spacing: -2px;
}

.main-top-container div p {
    color: var(--accent-color);
    font-size: 17.5px;
    width: 520px;
    line-height: 26px;
    margin-top: -5px;
}

.email-main form input {
    background-color: transparent;
    font-size: 17px;
    color: var(--accent-color);
    padding-right: 15px;
    border: transparent;
    outline: none;
    font-weight: 500;
}

.email-main form {
    display: flex;
    background: #64aba6f1;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.137);
    padding: 4px 0px 4px 22px;
    width: 129%;
    height: 44px;
    border-radius: 100px;
    margin-left: -40px;

}

.email-main button {
    padding: 8px 14.5px;
    border: transparent;
    color: #111111e8;
    cursor: pointer;
    border-radius: 50px;
    font-size: 16px;
    margin-right: -35px;
}

.img-main-guide img {
    border-radius: 22px;
    margin-top: 30px;
}

/* content and images end here */

/* Companies logo Start from here */
.company-logo-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;
    width: 70%;
}

.company-logo-container div img {
    width: 58%;
}

.company-logo-container .x-logo img {
    width: 17%;
}

.company-logo-container div {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Company logo end here */

/* Auto workflow container start from here */
.main-intelligence-age-container .intelligence-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 200px;
    text-align: center;
}

.intelligence-content h1 {
    font-size: 35px;
    font-weight: 600;
}

.intelligence-content p {
    margin-top: 20px;
    width: 40%;
    font-size: 15px;
    color: var(--text-p-color);
}

.agents-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    padding-top: 45px;
    margin: 0 auto;
    width: 76%;
}

.agents-container .agents-content {
    border-radius: 25px;
    padding: 25px 0px 10px 25px;
    border: 1px solid #0c0c0c18;
    margin-bottom: 0px;
}

.agents-container .agents-content span {
    font-size: 13px;
    letter-spacing: -0.2px;
    color: var(--text-span-color);
}

.agents-content div {
    margin-top: 22px;
    margin-bottom: 22px;
    font-size: 24px;
    font-weight: 500;
    color: var(--text-h-color);
}

.agents-content p {
    line-height: 24px;
    width: 80%;
    color: var(--text-p-color);
}

.agents-content img {
    margin-top: 70px;
}

.agents-ai-work {
    grid-column: 1/-1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 150px;
}

.agents-ai-work span {
    margin-top: 30px;
    font-size: 15px;
}

.agents-ai-work p {
    width: 50%;
}

.agents-ai-work img {
    margin-top: 5px;
    width: 100%;
}

/* Autoflow-AI-Agents work Ends here */

/* Enter price portion start from here */
.enterprise-container {
    background-color: var(--accent-color);
}

.enterprise-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 0 auto;
    width: 75%;
}

.enterprise-content span {
    margin-top: 90px;
    color: var(--text-span-color);
    font-size: 14px;
    grid-column: 1/-1;
}

.enterprise-content div {
    grid-column: 1/-1;
    color: var(--text-h-color);
    font-size: 39px;
    font-weight: 600;
    line-height: 42px;
    width: 50%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.enterprise-content button {
    width: 39%;
    height: 38px;
    font-weight: 500;
    font-size: 16px;
    background-color: var(--text-h-color);
    border: transparent;
    border-radius: 20px;
    cursor: pointer;
    color: var(--accent-color);
    margin: 0 auto;
    margin-top: -15px;
    margin-right: 5px;
}

.enterprise-content p {
    color: var(--text-p-color);
    width: 140%;
}

.partnership-ai-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 75%;
    margin: 0 auto;
}

.partnership-ai-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.partnership-ai-content div img {
    width: 5%;
}

.partnership-ai-content span {
    font-size: 22px;
    font-weight: 600;

}

.partnership-ai-content p {
    line-height: 22px;
    color: var(--text-p-color);
}

.partnership-demo a img {
    width: 1000px;
    filter: contrast(115%);
    transition: filter 0.3s ease-in-out;
    border-radius: 20px;
}

.partnership-demo a img:hover {
    filter: contrast(150%);
}

.partnership-demo {
    grid-column: 1/-1;
    margin-top: -120px;
}

.partnership-company-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-top: -350px;
    padding-bottom: 150px;
}

.partnership-company-logo div img {
    width: 100px;
    filter: contrast(1%);
    cursor: pointer;
}

.customer-blogs-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 71%;
    margin: 0 auto;
}

.customer-blogs-content {
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 17px;
}

.customer-blogs-content span {
    font-size: 14px;
    color: var(--text-span-color);
    font-weight: 500;
}

.customer-blogs-content div {
    font-size: 38px;
    letter-spacing: -2px;
    font-weight: 600;
    color: var(--text-h-color);
}

.customer-blogs-content p {
    width: 70%;
    line-height: 20px;
    color: var(--text-p-color);
}
/* blogs for users start from here */
.blogs-with-images img {
    margin-top: -40px;
    width: 450px;
    border-radius: 20px;
}

.blogs-with-images p {
    margin-top: 20px;
    line-height: 24px;
    color: var(--text-p-color);
    width: 85%;
}

.blogs-with-images p a {
    color: var(--text-p-color);
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
}


.blogs-with-images p a:hover {
    text-decoration: underline;
    color: var(--text-span-color);
}

.doc-advantage-container {
    margin-top: 160px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 60px;
}

.doc-advantage-content div {
    font-size: 38px;
    width: 55%;
    margin: 0 auto;
    text-align: center;
    font-weight: 600;
    color: var(--text-h-color);
    margin-bottom: 20px;
}

.doc-advantage-content p {
    color: var(--text-h-color);
}

.doc-advantage-btn {
    display: flex;
    gap: 20px;
    margin-bottom: 100px;
}

.doc-advantage-btn a {
    text-decoration: none;
    padding: 9px 24px;
    border-radius: 50px;

}

.doc-advantage-btn .black-btn {
    background-color: var(--text-h-color);
    color: var(--accent-color);
}

.doc-advantage-btn .white-btn {
    border: 1px solid #0000002a;
    background-color: transparent;
    color: var(--text-h-color);
}

/* Price Container Start from Here */
.pricing-team-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 85px;
}

.pricing-team-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;

}

.pricing-team-content {
    border: 1px solid transparent;
    border-right-color: #00000021;
    padding-right: 6%;
}

.pricing-team-container div span {
    font-size: 21px;
    font-weight: 500;
    color: var(--text-h-color);
}

.pricing-team-container div p {
    color: var(--text-p-color);
}

.pricing-team-container div a {
    margin-top: 15px;
    text-decoration: none;
    color: var(--text-span-color);
    font-size: 15px;
    font-weight: 500;
}
/* Social links start from here */
.social-links-container {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    border: 1px solid transparent;
    border-top-color: #00000033;
}

.social-image-logo , .social-links-three{
    margin-top: 50px;
    margin-bottom: 20px;
}
.social-links-three{
    display: flex;
    gap: 10px;
}
.social-image-logo img{
    width: 120px;
    margin-right: 340px;
    filter: contrast(150%);
}

.social-links-three a i{
    color: var(--text-p-color);
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}
.social-links-three a i:hover{
    color: var(--text-h-color);   
}
.footer-navbar{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    width: 78%;
    padding: 50px 50px 80px 50px;
    border:1px solid #00000015 ;
    margin: 0 auto;
}
.footer-navbar div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.footer-navbar div p{
    color: var(--text-p-color);
    font-size: 13px;
    font-weight: 600;
}
.footer-navbar div a{
    color: #000000d8;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
}
.footer-navbar div a:hover{
    color: var(--text-h-color);
}